/* Responsible for changing the background color; Removing this function as 
global background color isn't necessary for the extension 
body {
    background-color: red !important;
}
*/

/* Style for replacing coronavirus with a rainbow animation */
.rainbow {
    animation: rainbow 600ms infinite;
}

@keyframes rainbow {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: indigo; }
    90% { color: purple; }
}
